@model NetCore3MVC.Models.SupportingModels.NewsCreatingModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<head>
    <style>

        textarea {
            width: 100%;
            height: 800px;
        }

        textarea::-webkit-scrollbar{
            width: 0;
        }

    </style>
</head>
<div>
    <form method="post" asp-action="CreateNews" asp-controller="News" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input type="text" asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content">Content</label>
            <textarea name="Content" asp-for="Content" ></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <input type="file" name="file" asp-for="file" />
        <input type="submit" value="Save" />
    </form>
</div>
